body {
  font-family: Arial;
  text-align: center;
  margin: 0;
  background: #f5f7fa;
  color: #333;
}

header {

  text-align: center;
}

section {
  padding: 40px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #4facfe;
}

button {
  padding: 10px 20px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0077ff;
}